<%- if controller_name != 'sessions' %>
  <div class="row">
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= link_to "Sign in", new_session_path(resource_name), class: "btn btn-block btn-info login-button" %></p>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <div class="row">
      <p><%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "", omniauth_authorize_path(resource_name, provider), class: "fa fa-#{(provider.to_s.gsub('oauth2', '')).gsub('google_','google-plus')}-square col-xs-#{(12/resource_class.omniauth_providers.count.to_i).to_i} text-center" %>
      <% end -%></p>
  </div>
<% end -%></br>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row">
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= link_to "Sign up", new_registration_path(resource_name), class: "btn clearlee-button" %></p>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="row">
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= link_to "Forgot Password?", new_password_path(resource_name) %></p>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="row">
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= link_to "Resend Confirmation", new_confirmation_path(resource_name) %></p>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="row">
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= link_to "Unlock Account", new_unlock_path(resource_name) %></p>
    </div>
  </div>
<% end -%>