<% title("Home Page") %>

<div class="row home-row">
  <div class="col-xs-12">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu mi sit amet augue iaculis rutrum. Morbi viverra eget velit tristique egestas. Curabitur viverra mauris quis dignissim iaculis. Duis bibendum ut justo consectetur varius. Mauris ullamcorper mattis enim, et suscipit urna tempus eget. Nam porttitor sem ac neque tincidunt, vel adipiscing orci bibendum. Vestibulum tincidunt ullamcorper velit, in hendrerit magna. Nulla elementum hendrerit elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dictum, magna a luctus ultrices, nunc risus aliquam dui, quis malesuada nunc dui nec ipsum.
  </div>
</div>
<!-- <div class="row home-row">
  <div class="col-xs-6 home-link text-center">
    <%#= link_to "Polls", polls_path %>
  </div>
</div> -->

<!-- <div class="row home-row">
  <%# if user_signed_in? %>
    <div class="col-xs-6 home-link text-center">
      <%#= link_to "Edit Account", edit_user_registration_path %>
    </div>
  <%# end %>
</div>

<div class="row home-row">
  <%# if !user_signed_in? %>
    <div class="col-xs-6 home-link text-center">
      <%#= link_to "Sign in", new_user_session_path %>
    </div>
    <div class="col-xs-6 home-link text-center">
      <%#= link_to "Sign up", new_user_registration_path %>
    </div>
  <%# else %>
    <div class="col-xs-6 home-link text-center">
      <%#= link_to "Protected Page", inside_path %>
    </div>
    <div class="col-xs-6 home-link text-center">
      <%#= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %>
    </div>
  <%# end %>
</div>

<%# if user_signed_in? %>
  <%# if current_user.admin? %>
    <div class="row">
      <div class="col-xs-6 home-link text-center">
        <%#= link_to "Admin", admin_root_path %>
      </div>
      <div class="col-xs-6 home-link text-center">
        <%#= link_to "Admin", admin_root_path %>
      </div>
    </div>
  <%# end %>
<%# end %>
 -->