<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 poll-new-question">
      <%= f.text_area :question, placeholder: "Your question goes here..." %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="poll-new-products">
        Add a Product
      </a>
    </div>
    <div class="col-xs-12">
      <a class="poll-new-products">
        Add a Product
      </a>
    </div>
    <div class="col-xs-12">
      <a class="poll-new-products">
        Add a Product
      </a>
    </div>
    <div class="col-xs-12">
      <a class="poll-new-products">
        Add a Product
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button id="create-poll" class="btn btn-block btn-info clearlee-button">Ask</button>
        <%= link_to 'Cancel', polls_path, class: "btn btn-block btn-info clearlee-button" %>
      </div>
    </div>
  </div>
<% end %>




