<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Products</th>
      <th>User</th>
      <th>Question</th>
      <th>Image Urls</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.products %></td>
        <td><%= poll.user_id %></td>
        <td><%= poll.question %></td>
        <td><%= poll.image_urls %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
