<% title("Polls") %>

<%= link_to 'New Poll', new_poll_path, class: "btn btn-block btn-info clearlee-button" if user_signed_in? %>

<% @polls.each do |poll| %>
  <%= link_to poll do %>
    <div class="row poll-display">
      <p><%= poll.question %></p>
      <% poll.products.each do |k,v| %>
        <div class="col-xs-3">
          <%= v %>
        </div>
      <% end %>
      <% poll.image_urls.each do |image| %>
        <div class="col-xs-3">
          <img src=<%= image %>>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>