<% title("New poll") %>

<div class="poll-show">
  <%= form_for(@poll) do |f| %>
    <% if @poll.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

        <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 poll-new-question">
        <%= f.text_area :question, placeholder: "Your question goes here..." %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 poll-new-products">
        <a class="fill-div poll-new-products-click-to-add">
          Add a Product
        </a>
      </div>
      <div class="col-xs-12 poll-new-products">
        <a class="fill-div poll-new-products-click-to-add">
          Add a Product
        </a>
      </div>
      <div class="col-xs-12 poll-new-products">
        <a class="fill-div poll-new-products-click-to-add">
          Add a Product
        </a>
      </div>
      <div class="col-xs-12 poll-new-products">
        <a class="fill-div poll-new-products-click-to-add">
          Add a Product
        </a>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button id="create-poll" class="btn btn-block btn-info clearlee-button">Ask</button>
        <%= link_to 'Cancel', polls_path, class: "btn btn-block btn-info clearlee-button" %>
      </div>
    </div>
  </div>
</div>

<div class="search-to-vote hidden">
  <p><input autofocus="autofocus" class="form-control" id="search-category" type="text" value="" placeholder="Brand" /></p>
  <p><input class="form-control" id="search-name" type="text" value="" placeholder="Model" /></p>
  <p><button id="search-bby" class="btn btn-block btn-info clearlee-button">Search</button></p>
  <div class="results"></div>
</div>



