<p id="notice"><%= notice %></p>
<div id="poll-id" class="hidden"><%= @poll.id%></div>
<div class="row">
  <div class="col-xs-12 poll-show-question">
    <p><%= @poll.question %></p>
    <small><p class="poll-user-name"><%= User.find(@poll.user_id).username %></p></small>
  </div>
</div>

<% @poll.image_urls.each_with_index do |image,index| %>
  <div class="row">
   <a class="fill-div poll-show-products">
    <div class="col-xs-2">
    <div id="product-code" class=<%= @poll.products.keys[index]%>></div>
      <img src=<%= image %>>
    </div>
    <div class="col-xs-8 poll-product-title">
      <%= @poll.title[index].gsub('System Camera with','') %>
    </div>
    <div class="col-xs-2 text-center vote-count">
      <%= @poll.products.values[index] %>
    </div>
    </a>
  </div>
<% end %>

<div>
  <button id="vote" class="btn btn-block btn-info clearlee-button">Vote</button>
  <%= link_to 'Cancel', polls_path, class: "btn btn-block btn-info clearlee-button" %>
</div>