<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @poll.question %>
</p>

<p>
  <strong>Products:</strong>
  <%= @poll.products %>
</p>

<p>
  <strong>Image urls:</strong>
  <%= @poll.image_urls.keys %>
</p>

<p>
  <strong>Product Title:</strong>
  <%= @poll.title.keys %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user_id %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
