<% title("Sign in") %>

<div class="row">
  <h2 class="text-center">Login</h2>
  <%= form_for(resource, :as => resource_name, 
  :url => session_path(resource_name),
  role: "form") do |f| %>
    <div class="col-xs-12 .col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
      <p><%= f.text_field :username, :autofocus => true, type: "text", placeholder: "User Name", class: "form-control" %></p>
      <p><%= f.password_field :password, type: "password", placeholder: "Password", class: "form-control" %></p>
      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>
      <div class="row">
        <div class="col-xs-12 ..col-sm-6 .col-sm-offset-3 .col-md-4 .col-md-offset-4">
          <p><%= f.submit "Sign in", class: "btn btn-block btn-info clearlee-button" %></p>
        </div>
      </div>
    </div>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>