<div class="row">
  <div class="col-sm-6 ">
    <h1>Sign in</h1>
    <%= form_for(resource, :as => resource_name, 
    :url => session_path(resource_name),
    role: "form") do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>      
      <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>