
<table class="table table-striped table-condensed table-hover">
  <thead>
    <td> </td>
    <td>Model</td>
    <td>Brand</td>
    <td>Price</td>
    <td>Clearlee Rating</td>
  </thead>
<% @products.each do |p| %>
    <tr>
      <td> <%= image_tag p.default_image.url(:thumb) %> </td>
      <td> <%= link_to p.model_name, camera_path(p.id) %> </td>
      <td> <%= p.brand %></td>
      <td> <%= p.amzn_price %></td>
      <td> <%= @ratings[p.id] %> </td>
    </tr>
<% end %>
</table>

<%= paginate @products %>