<header class="row">
  <nav class="navbar navbar-default navbar-fixed-top searchbox" role="navigation">

    <%= form_tag '/search/solr', :method => :get do %>
    <a class="navbar-brand" href="#">
      <%= image_tag "logo-clearlee.png", width:"21", height:"20", alt:"Clearlee Logo", class:"img-responsive" %>
    </a>
    <!-- <input id="search-text" class="proxima-nova-regular" name="search" type="text" value="search">  -->
    <%= button_tag(type: "submit", class: "btn-search") do %>
    <span class="glyphicon glyphicon-search"></span>
    <% end %>
    <%= search_field_tag :term, params[:term], :class => "proxima-nova-regular", :id => "search-text", :placeholder => "Search" %>
    <% end %> 
  </nav>
</header>

<div id="search-results" class="container">
    <div class="result-section">
      <h2 class="kelson-sanslight"><%= "#{@search.total} Search results for \"#{@term}\"" %></h2>
        <% index = 0 %>
        <section class="product-set">
          <% while index < @products.size %>
            <div class="row">
              <% @products[index..index+5].each do |c| %>
                  <div class="col-xs-6 col-sm-3 col-md-2 product-sub">
                      <span class="product-desc">
                          <span class="product-thumb">
                            <a href= <%= "/cameras/#{c.id}" %> data-no-turbolink='true' >
                              <%= image_tag(c.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive") %>
                            </a>
                          </span>
                          <span class="product-rating bebas-regular"><%= c.try(:clearlee_rating).to_f.floor %></span>
                          <span class="proxima-nova-regular product-name"><%= c.model_name %></span>
                      </span>
                      <a href=<%= "/cameras/#{c.id}"%> data-no-turbolink='true' class="btn btn-info proxima-nova-regular btn-theme"><%= c.minimum_price %><span class="glyphicon glyphicon-chevron-down"></span></a>
                  </div>
              <% end %>
              <% index += 6 %>
            </div>
          <% end %>
        </section>
    </div>
    <% next_page = @page.to_i + 1 %>
     <a href=<%= "/search/solr?page=#{next_page.to_s}&term=#{@term}&utf8=%E2%9C%93" %> data-no-turbolink='true' class="more-results proxima-nova-regular col-xs-12">Load more results</a>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('input#search-text').autocomplete({
      minLength: 1,
      source: '<%= solr_search_path(:json) %>',
      mustMatch : false,
      focus: function(event, ui){
        $('input#term').val(ui.item.model_name);
        return false;
      },
      select: function(event, ui){
        $('input#term').val(ui.item.model_name);
        $('.navbar-form').submit(); 
        return false;
      },
    })
    .data("ui-autocomplete")._renderItem = function(ul,item){
                        ul.addClass('search-container');
      return $("<li></li>")
      .data("ui-autocomplete-item",item)
      .append("<a href=/cameras/" + item.id + ">" +"<span class='search-image'><img src='" + 
                   item.default_image_url +"'></span>"  + "<span class='search-model-name'>" + item.model_name  +  "</span></a>" )
      .appendTo(ul);
    };
$('.ui-autocomplete').wrap('<div class="search-wrap" />');
  });

  $('input#search-text').focus(function() {
    this.value = "";
  });
</script>
