


<%= hidden_field_tag('filter', filter.nil? ? "price" : filter) %>

<div id="selection-results" class="tab-content">
	<div id="tab-price" class="tab-pane active">
		<div class="product-selector proxima-nova-regular">
			<p>We pick the <em>top five cameras</em> for</p>
			<div class="dropdown">
				<select name='selValue' class = 'camera_type selectpicker'>
				</select>
			</div>
		</div>
	</div>
	<div id="tab-price" class="tab-pane active">
		<div class="review-results proxima-nova-regular row">
			<div class="review-panel-wrap col-md-2 col-xs-12 col-sm-3">
				<div class="review-panel">
					<span class="triangle"></span>
					<p><em>Clearlee<br/>Reviewed<br/></em><strong class="bebas-regular" id="selection-count"></strong><br />cameras<br /><strong class="bebas-regular">12</strong><br />features</p>
				</div>
				<div class="triangle-up"><div></div></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<table class="table shortlisted">
					<tr>
						<td class="product-thumb">
							<a id = 'product-thumb-1' data-no-turbolink='true' href='#'>
								<%= image_tag(Camera.first.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive", :id => 'item-image-1') %>
							</a>
						</td>
						<td class="product-thumb">
							<a id = 'product-thumb-2' data-no-turbolink='true' href='#'>
								<%= image_tag(Camera.first.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive", :id => 'item-image-2') %>
							</a>
						</td>
						<td class="product-thumb">
							<a id = 'product-thumb-3' data-no-turbolink='true' href='#'>
								<%= image_tag(Camera.first.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive", :id => 'item-image-3') %>
							</a>
						</td>
						<td class="product-thumb">
							<a id = 'product-thumb-4' data-no-turbolink='true'  href='#'>
								<%= image_tag(Camera.first.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive", :id => 'item-image-4') %>
							</a>
						</td>
						<td class="product-thumb">
							<a id = 'product-thumb-5' data-no-turbolink='true'  href='#'>
								<%= image_tag(Camera.first.default_image.url, :width => "107", :height => "81", :alt => "Sony Cyber Shot RX 100 II", :class => "img-responsive", :id => 'item-image-5') %>
							</a>
						</td>
					</tr>
					<tr>
						<td class="proxima-nova-regular product-name" id="item-name-1"></td>
						<td class="proxima-nova-regular product-name" id="item-name-2"></td>
						<td class="proxima-nova-regular product-name" id="item-name-3"></td>
						<td class="proxima-nova-regular product-name" id="item-name-4"></td>
						<td class="proxima-nova-regular product-name" id="item-name-5"></td>
					</tr>
					<tr>
						<td><a class="btn btn-info proxima-nova-regular btn-theme"  data-toggle='popover' data-placement='left' data-no-turbolink='true' href="#" id="item-price-1">$ <span class="glyphicon glyphicon-chevron-down"></span></a></td>
						<td><a class="btn btn-info proxima-nova-regular btn-theme"   data-toggle='popover' data-placement='left' data-no-turbolink='true' href="#" id="item-price-2">$ <span class="glyphicon glyphicon-chevron-down"></span></a></td>
						<td><a class="btn btn-info proxima-nova-regular btn-theme"  data-toggle='popover' data-placement='left' data-no-turbolink='true'  href="#" id="item-price-3">$ <span class="glyphicon glyphicon-chevron-down"></span></a></td>
						<td><a class="btn btn-info proxima-nova-regular btn-theme" data-toggle='popover' data-placement='left' data-no-turbolink='true'   href="#" id="item-price-4">$ <span class="glyphicon glyphicon-chevron-down"></span></a></td>
						<td><a class="btn btn-info proxima-nova-regular btn-theme"  data-toggle='popover' data-placement='left' data-no-turbolink='true' href="#" id="item-price-5">$ <span class="glyphicon glyphicon-chevron-down"></span></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<%= form_tag '/cameras/compare_cameras', :id => 'compare_form', :method => :post do %>
<%= hidden_field_tag("selected_cameras") %>

<div class="btn-compare">
	<%= submit_tag "COMPARE", :label => "COMPARE", :name => nil, :class => 'btn btn-success proxima-nova-regular', :id => "btn-compare" %>	 
	<!-- <button id="btn-compare" type="button" class="btn btn-success proxima-nova-regular" data-toggle="modal" data-target="#popup-compare">compare</button> -->
</div>
<% end %>
