<section id="detailed-specs">
  <div class="container">
    <div class="row text-center">
      <h2 class="kelson-sanslight">detailed specs</h2>
    </div>
    <% float_attributes = camera.float_attributes %>
    <div class="row detail-spec">
      <% Camera.features_by_category.each do |k,v| %> 
        <div class="col-xs-12 col-md-6">
          <h4 class="proxima-nova-regular"><%= k %></h4>
          <% v.each do |feature| %>
            <% val = camera.send(feature) %>
            <% is_float = float_attributes.include?(feature) %>
            <% if (val && !is_float && val.to_s != "0" && val.to_s != "") || (val && is_float && val != 0.0)%>
              <div class="category proxima-nova-regular row">
                <span class="col-xs-4"><%= Camera.human_attribute_name(feature.to_sym) %></span>
                <span class="col-xs-8"><%= val %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="col-xs-12 col-md-6">
        <h4 class="proxima-nova-regular">Other Features</h4>
        <% Camera.other_features.each do |f| %>
          <% val = camera.send(f) %>
          <% is_float = float_attributes.include?(f) %>
          <% if (val && !is_float && val.to_s != "0"  && val.to_s != "") || (val && is_float && val != 0.0)%>
            <div class="category proxima-nova-regular row">
              <span class="col-xs-4"><%= Camera.human_attribute_name(f.to_sym) %></span>
              <span class="col-xs-8"><%= val %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</section>
