<%= form_for @camera, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :brand, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :brand, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :model_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mpn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mpn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :upc_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :upc_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :asin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :asin, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amzn_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amzn_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amzn_img_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amzn_img_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amzn_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amzn_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :announced_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :announced_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price_range, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price_range, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :executive_summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :executive_summary, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ae_bracketing, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ae_bracketing, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :aperture_priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :aperture_priority, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :articulated_lcd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :articulated_lcd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :autofocus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :autofocus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :battery_life_cipa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :battery_life_cipa, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :battery_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :battery_description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :battery, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :battery, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :body_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :built_in_flash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :built_in_flash, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :continuous_drive, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :continuous_drive, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fps, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :custom_white_balance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :custom_white_balance, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :digital_zoom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :digital_zoom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :digital_zoom_x, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :digital_zoom_x, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dimensions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dimensions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :effective_megapixels, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :effective_megapixels, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :environmentally_sealed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :environmentally_sealed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exposure_compensation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :exposure_compensation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :external_flash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :external_flash, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :flash_modes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :flash_modes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :flash_range_mts, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :flash_range_mts, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :focal_length_equiv, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :focal_length_equiv, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :focal_length_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :focal_length_min, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :focal_length_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :focal_length_max, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :focal_length_multiplier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :focal_length_multiplier, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :format, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :format, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gps_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gps_notes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gps, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hdmi, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hdmi, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iso, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iso, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iso_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iso_min, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iso_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iso_max, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_ratio_w_h, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_ratio_w_h, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_stabilization_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_stabilization_notes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_stabilization, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_stabilization, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jpeg_quality_levels, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jpeg_quality_levels, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lens_mount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lens_mount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :live_view, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :live_view, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :macro_focus_range_cm, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :macro_focus_range_cm, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manual_exposure_mode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :manual_exposure_mode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manual_focus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :manual_focus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_resolution, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_resolution, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maximum_aperture, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maximum_aperture, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_aperture_zoomout, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_aperture_zoomout, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_aperture_zoomin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_aperture_zoomin, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maximum_shutter_speed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maximum_shutter_speed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_shutter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_shutter, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :metering_modes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :metering_modes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :microphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :microphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :minimum_shutter_speed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :minimum_shutter_speed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :min_shutter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :min_shutter, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :normal_focus_range_cms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :normal_focus_range_cms, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_focus_points, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_focus_points, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :optical_zoom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :optical_zoom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :orientation_sensor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :orientation_sensor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_resolutions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :other_resolutions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :processor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :processor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :remote_control, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_control, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :video_resolutions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :video_resolutions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :full_hd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_hd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :full_hd_fps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_hd_fps, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :screen_dots, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :screen_dots, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :screen_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :screen_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :screen_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :screen_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :self_timer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :self_timer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_photo_detectors, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_photo_detectors, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_size_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_size_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_size_w_mm, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_size_w_mm, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_size_h_mm, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_size_h_mm, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sensor_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensor_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shutter_priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shutter_priority, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :speaker, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :speaker, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :storage_included, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :storage_included, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :storage_types, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :storage_types, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject_scene_modes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject_scene_modes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timelapse_recording, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :timelapse_recording, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :touch_screen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :touch_screen, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :usb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usb, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uncompressed_format, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uncompressed_format, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :videography_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :videography_notes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :viewfinder_coverage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :viewfinder_coverage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :viewfinder_magnification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :viewfinder_magnification, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :viewfinder_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :viewfinder_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wb_bracketing, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wb_bracketing, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight_inc_batteries_gms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight_inc_batteries_gms, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :white_balance_presets, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :white_balance_presets, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wireless, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wireless, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rating, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :discontinued, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :discontinued, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cameras_path, :class => 'btn' %>
  </div>
<% end %>
