<section id="pros-cons" class="bg-theme">
    <div class="container">
      <div class="row text-center">
        <h2 class="kelson-sanslight">What's good, what's not</h2>
      </div>
            <div class="row">
                <ul id="product-pros-cons" class="nav nav-pills proxima-nova-regular" role="tablist">
          <li class="col-xs-offset-4 col-xs-2 active"><a href="#tab-product-price" data-toggle="tab">price</a></li>
          <li class="col-xs-2"><a href="#tab-product-type" data-toggle="tab">type</a></li>
        </ul>
            </div>
      <div class="tab-content">
        <div id="tab-product-price" class="row product-pros-cons tab-pane active">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <span class="glyphicon glyphicon-thumbs-up"></span>               
              </div>
              <div class="col-xs-9 col-md-10">
                <h3>good for <%= @camera.amzn_price %> </h3>
                <span class="dash"></span>
                <ul class="proxima-nova-regular">
                  <% good_for_price.each do |feature| %>
                    <li><span><%= feature["good"] %></span></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </div>  
              <div class="col-xs-9 col-md-10">
                <h3>Missing for  <%= @camera.amzn_price %></h3>
                <span class="dash"></span>
                <ul class="proxima-nova-regular">
                  <% bad_for_price.each do |feature| %>
                    <li><span><%= feature["bad"] %></span></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-product-type" class="row product-pros-cons tab-pane">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 product-pros">
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <span class="glyphicon glyphicon-thumbs-up"></span>               
              </div>
              <div class="col-xs-9 col-md-10">
                <h3>good for <%= @camera.amzn_price %> (<%= @camera.group %>)</h3>
                <span class="dash"></span>
                <ul class="proxima-nova-regular">
                  <% good_for_type.each do |feature| %>
                    <li><span><%= feature["good"] %></span></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 product-cons">
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </div>  
              <div class="col-xs-9 col-md-10">
                <h3>Missing for  <%= @camera.amzn_price %></h3>
                <span class="dash"></span>
                <ul class="proxima-nova-regular">
                  <% bad_for_type.each do |feature| %>
                    <li><span><%= feature["good"] %></span></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row verdict-usefulness">
        <div class="col-xs-12 verdict">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <h4 class="proxima-nova-regular">the verdict</h4>
          <p class="proxima-nova-regular">Good to buy if you  are using it  for  2-3 years</p>
        </div>        
      </div>
    </div>
  </section>