<section id="photo-sample" class="bg-theme">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row text-center">
          <h2 class="kelson-sanslight">photos shot using this cam</h2>
        </div>
        <div id="gallery-images" class="row">
          <% imgs.flatten.each do |i| %>
            <a class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-0" href="<%= i %>" data-toggle="lightbox" data-gallery="multiimages">
              <%= image_tag i, width: "325", height: "180", class:"img-responsive" %>
              <span class="img-zoom"></span>
            </a>
          <% end %>
        </div>
        <div class="row">
          <div class="pull-right social-icon">
            <a href="#" title="Flicker" class="text-right">
              <%= image_tag "logo-flicker.png", width: "79", height: "13", alt:"Flicker" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) { event.preventDefault(); $(this).ekkoLightbox(); }); 
</script>
