<%= hidden_field_tag "images_count", @camera.additional_images_for_display.present? ?
                                     @camera.additional_images_for_display.count : 0 %>
<%= hidden_field_tag "hidden-rating-price", @camera.clearlee_rating.to_s + "%" %>
<%= hidden_field_tag "hidden-rating-group", @camera.clearlee_rating(true).to_s + "%" %>
<section id="product-details" >
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="logo-brand">
					<% image_logo = "logo-" + camera.brand.downcase + ".png" %>
					<%= image_tag image_logo, :width => "72", :height => "13", :alt => "logo-sony.png", :class => "img-responsive" %> 
				</span>
				<h1 class="kelson-sanslight"><%= camera.model_name %></h1>
				<span class="dash"></span>
			</div>

			<div id="carousel-product" class="carousel slide col-md-8 col-md-offset-2" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        	<div class="item text-center active">
        		<%= image_tag @camera.default_image.url, :class => "img-responsive", :height => "304", :width => "406" %>
        	</div>
          
          <% if @camera.additional_images_for_display.present? %> 
          	<% @camera.additional_images_for_display.each do |i| %>
            	<div class="item">
            		<%= image_tag i, :class => "img-responsive", :height => "304", :width => "406" %>
            	</div>
          	<% end %>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-product" data-slide="prev">
        	<span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-product" data-slide="next">
        	<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    
    <div class="row">
      <div class="col-xs-12 rates text-center">
        <div class="center-block">
          <span class="glyphicon glyphicon-star-empty"></span>
          <div class="rates-header">
            <h3 class="proxima-nova-regular">This Camera Rates</h3>
          </div>
            <span class="dash center-block"></span>
        </div>
      </div>
    </div>

    <div>
                    <div class="col-xs-12 col-md-10 col-md-offset-1 rates">           
                    <div class="row rates-section proxima-nova-regular">
                        <div class="col-xs-12 col-sm-4">
                          <h4>value</h4>
                            <div class="rating-wrapper">
                              <span class="rating-star"  id="rating-price"></span>
                            </div>                           
                            <div class="rating-review">
                              <span class="bebas-regular rating-value medium"><%= @camera.clearlee_rating.floor %></span>
                              <h5><%= @verdict %></h5><em><%= "for $#{@price}" %></em>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <h4>features</h4>
                            <div class="rating-wrapper">
                              <span class="rating-star"  id="rating-group"></span>
                            </div>
                            <div class="rating-review">
                              <span class="bebas-regular rating-value medium"><%= @camera.clearlee_rating(true).floor %></span>
                              <h5><%= @verdict_in_group %></h5><em><%= "#{@camera.group}" %></em>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <h4>Market Price</h4>
                            <div class="market-price">                              
                              $<strong>786</strong>
                            </div>
                            <div class="best-price-wrapper">
                              <div class="table-cell">
                                <a href="#" id="best-price-btn" class="btn btn-info bebas-regular btn-theme" data-toggle="popover" data-placement="left">
                                  <%= @camera.amzn_price.present? && @camera.amzn_price != 0.0 ? " #{@camera.amzn_price}" : "-" %>
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                            <div id="popover_content_wrapper" class="hidden row"> 
              <% if @camera.alternate_urls_and_prices.present? %>
                <div class="col-xs-1 col-md-4">
                  <div class="brand-icon">
                    <%= image_tag "logo-bestbuy.png", width:"39", height: "16", alt:"bestbuy" %>
                  </div>
                  <span class="dash"></span>
                  <span class="price bebas-regular"><%= @camera.alternate_urls_and_prices["price"] %></span>
                  <span class="price-mrp proxima-nova-regular">MRP $749</span>
                  <a href="<%= @camera.alternate_urls_and_prices["url"] %>" class="btn btn-info proxima-nova-regular btn-theme">Buy</a>
                </div>
              <% end %>
              <div class="col-xs-1 col-md-4">
                <div class="brand-icon">
                  <%= image_tag "logo-amazon.png", width:"44", height: "16", alt:"bestbuy" %>
                </div>
                <span class="dash"></span>
                <span class="price bebas-regular"><%= @price %></span>
                <span class="price-mrp proxima-nova-regular">MRP $749</span>
                <a href= "<%= @camera.amzn_url %>" class="btn btn-info proxima-nova-regular btn-theme">Buy</a>
              </div>
            </div>
                              </div>
                              <span class="rating-best-price">Best Clearlee Price</span>
                             </div>
          
                        </div>
                    </div>
                </div>
      
    </div>
  </div>
</section>