<section id="related">
	<div class="container">
		<div class="row text-center">
			<h2 class="col-xs-12 kelson-sanslight">cameras in this range</h2>
		</div>								
		<div id="product-compare" class="row">
			<div class="col-xs-2 col-xs-offset-1 product-sub">
				<span class="product-desc">
					<span class="product-thumb">
						<%= image_tag camera.default_image, width:"107", height:"81", class:"img-responsive" %>
					</span>
					<span class="product-rating bebas-regular"><%= @camera.clearlee_rating.floor.to_s %></span>
					<span class="proxima-nova-regular product-name"><%= @camera.model_name %></span>
				</span>
				<a href= "<%= @camera.amzn_url %>" class="btn btn-info proxima-nova-regular btn-theme"><%= "$#{@camera.amzn_price}" %>  <span class="glyphicon glyphicon-chevron-down"></span></a>
			</div>

			<% _similar_cameras[0..3].each do |c| %>			
				<div class="col-xs-2 product-sub">
					<span class="product-desc">
						<a href= <%= "/cameras/#{c.id}" %> data-no-turbolink='true' >
							<span class="product-thumb">
								<%= image_tag c.default_image, width:"130", height:"98", class:"img-responsive" %>
							</span>
						</a>
						<span class="product-rating bebas-regular"><%= c.clearlee_rating.floor.to_s %></span>
						<span class="proxima-nova-regular product-name"><%= c.model_name %></span>
					</span>
					<a href="<%= @camera.amzn_url %>" class="btn btn-info proxima-nova-regular btn-theme"><%= "$#{c.amzn_price}"%>  <span class="glyphicon glyphicon-chevron-down"></span></a>
				</div>
			<% end %>
			
		</div>	
	</div>
</section>