<section id="specs">
  <div class="container">
    <div class="row text-center">
      <h2 class="kelson-sanslight">specs</h2>
    </div>
    <div class="row">
      <div class="col-xs-5 col-md-8">
        <h3 class="proxima-nova-regular">General</h3>
        <span class="dash"></span>
      </div>
      <div class="col-xs-7 col-md-4 view-select">
        <div class="row pull-right">
          <span class="proxima-nova-regular hidden-xs">Viewing mode</span>
          <a href="#condensed-specs" class="thumb-view" title="Thumbnail View">
            <span class="glyphicon glyphicon-camera"></span></a>
          <a href="#detailed-specs" class="list-view active" title="List View">
            <span class="glyphicon glyphicon-list-alt"></span></a>
        </div>
      </div>
    </div>
    <div class="row spec-wrapper">
      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-8 eq-height">
        <div class="row">
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-camera"></span>
            <span class="category proxima-nova-regular">type<strong></br><%= @camera.group %></strong></span>                
          </div>
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-fullscreen"></span>
            <span class="category proxima-nova-regular">resolution (effective)<strong></br><%= @camera.effective_megapixels %> megapixels</strong></span>                
          </div>
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-camera"></span>
            <span class="category proxima-nova-regular">body<strong></br><%= @camera.body_type %></strong></span>                
          </div>
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-screenshot"></span>
            <span class="category proxima-nova-regular">focal length<strong></br><%= @camera.focal_length %></strong></span>                
          </div>
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-hdd"></span>
            <span class="category proxima-nova-regular">weight<strong></br><%= @camera.get_dimension("weight")%> gm</strong></span>                
          </div>
          <div class="col-sm-6 spec-item">
            <span class="glyphicon glyphicon-th-large"></span>
            <span class="category proxima-nova-regular">burst mode<strong></br><%= @camera.fps %> frames/sec</strong></span>                
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 dimension eq-height">
        <div class="dimension-wrapper">
          <div class="width-val proxima-nova-regular"><strong><%= @camera.get_dimension("width") %>"</strong></div>
          <div class="width-border"></div>
          <div class="dimension-img">
            <%= image_tag "spec.jpg", width: "106", height: "67", alt: @camera.model_name %>
            <div class="height-border-wrap">
              <div class="height-border"></div>
              <div class="height-val proxima-nova-regular"><strong><%= @camera.get_dimension("height") %>"</strong></div>
            </div>
          </div>
          <div class="depth proxima-nova-regular">depth <strong><%= @camera.get_dimension("length") %>"</strong></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="proxima-nova-regular">Key features</h3>
        <span class="dash"></span>
      </div>
    </div>
    <div class="row key-features">
      <% @camera.key_features.each do |k,v| %>
        <% cl = "glyphicon-camera" %>
        <% cl = "glyphicon-facetime-video" if k.match(/video/i).present? %>
        <% cl = "glyphicon-fullscreen" if k.match(/megapixels/i).present? || k.match(/resolution/i).present? %>
        <% cl = "glyphicon-flash" if k.match(/sensor/i).present? || k.match(/resolution/i).present? %>
        <% cl = "glyphicon-eye-open" if k.match(/aperture/i).present? || k.match(/zoom/i).present? %>
        <% cl = "glyphicon-screenshot" if k.match(/iso/i).present? %>
        <% cl = "glyphicon-resize-full" if k.match(/size/i).present? %>
        
        
        <div class="col-md-4 spec-item">
          <span class="glyphicon <%= cl %>" ></span>
          <span class="category proxima-nova-regular"><%= k %><strong></br><%= v %></strong></span>            
        </div>
      <% end %>
    </div>
  </div>
</section>
