<%
@tools = [
	['price', 'splash'],
	['type', 'splash']

]
%>

<div class="jumbotron">
	<div id="carousel-jumbotron" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"> 
				<%= image_tag	"slide01.jpg", alt: "Pick your right camera in 2 clicks", class: "img-responsive" %>
			</div>
			<div class="item">
				<%= image_tag	"slide02.jpg", alt: "Pick your right camera in 2 clicks", class: "img-responsive" %>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-jumbotron" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-jumbotron" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<ul class="nav nav-tabs search-type proxima-nova-regular" role="tablist">
		<li class="col-md-2 col-xs-6 active" id = "tab-1">
			<!--%= link_to(@tools[0][0], url_for(:controller => :cameras, :action => @tools[0][1], :type => @tools[0][0]) do %-->
			<%= link_to url_for(:controller => :cameras, :action => @tools[0][1], :type => @tools[0][0]) do %>
			<span class="glyphicon glyphicon-usd" id='tab-1-inner'></span> <%= "price" %>
			<% end %>
		</li>
		<li class="col-md-2 col-xs-6" id = "tab-2">
			<%= link_to url_for(:controller => :cameras, :action => @tools[1][1], :type => @tools[1][0]) do %>
			<span class="glyphicon glyphicon-camera" id='tab-2-inner'></span> <%= "type" %>
			<% end %>
		</li>
	</ul>
</div>
