<div class="row verdict-usefulness">
  <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 verdict">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <h4 class="proxima-nova-regular">the verdict</h4>
    <span class="dash-sub"></span>
    <p class="proxima-nova-regular">Good to buy if you  are using it  for  2-3 years</p>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-md-9 col-sm-offset-0 usefulness">
    <div class="row">
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-heart"></span>
      </div>
      <div class="col-xs-9 col-xs-offset-1 col-md-6 col-md-offset-0">
        <h3>usefulness</h3>
        <span class="dash"></span>
        <ul class="proxima-nova-regular">
          <li><span>Landscape Photography</span></li>
          <li><span>Family Ocassions</span></li>
          <li><span>Profile shoot</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>