<h1> Compare Cameras </h1>

<%= form_tag '/cameras/compare', :id => 'compare_form', :method => :get do %>
  <ul class="nav">
    <li>
      <div>
        <%= text_field_tag :model_name_one, nil, :placeholder => "Select a camera", :required => true, :message => "Select a camera", :id => "model_name_one", :class => "typeahead" %>
        <!-- <input class="typeahead" id="model_name_one" type="text" placeholder="Select a camera...."> -->
      </div>
    </li>
  </ul>

  <ul class="nav">
    <li>
      <div>
        <%= text_field_tag :model_name_two, nil, :placeholder => "Select a camera", :required => true, :message => "Select a camera", :id => "model_name_one", :class => "typeahead" %>
      </div>
    </li>
  </ul>

  <%= submit_tag "Go", :name => nil, :class => 'button btn', :id => "search_bn" %>
<% end %>


<% if @comparison_results %>
  <h2><%= "Comparing #{@c1.model_name} and #{@c2.model_name} ..."%></h2>
  <h3>What is similar</h3>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <td> Feature </td>
      <td> <%= link_to @c1.model_name, camera_path(@c1.id) %> </td>
      <td> <%= link_to @c2.model_name, camera_path(@c2.id) %> </td>
    </thead>
    <% @comparison_results["similarities"].each do |c| %>
      <% next if @c1.send(c).nil? || @c1.send(c) == "" %>
      <tr>
        <td><%= c %></td>
        <td><%= @c1.send(c) %></td>
        <td><%= @c2.send(c) %></td>
      </tr>
    <% end %>
  </table>
  <h3>What is different</h3>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <td> Feature </td>
      <td> <%= link_to @c1.model_name, camera_path(@c1.id) %> </td>
      <td> <%= link_to @c2.model_name, camera_path(@c2.id) %> </td>
    </thead>
    <% @comparison_results["differences"].each do |c| %>
      <tr>
        <td><%= c %></td>
        <td><%= @c1.send(c) %></td>
        <td><%= @c2.send(c) %></td>
      </tr>
    <% end %>
  </table>
<% end %>


<script type="text/javascript">
  var cameras = <%= raw @cameras %>;
  $(document).ready(function(){

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push({ value: str });
          }
        });

        cb(matches);
      };
    };

    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'cameras',
      displayKey: 'value',
      source: substringMatcher(cameras)
    });

  }); 
</script>