<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Clearlee</title>
</head>
<body>
	<header class="row">
		<nav class="navbar navbar-default navbar-fixed-top searchbox" role="navigation">
		
			<%= form_tag '/search/solr', :method => :get do %>
				<a class="navbar-brand" href="/">
					<%= image_tag "logo-clearlee.png", width:"21", height:"20", alt:"Clearlee Logo", class:"img-responsive" %>
				</a>
			<!-- <input id="search-text" class="proxima-nova-regular" name="search" type="text" value="search">  -->
				<%= button_tag(type: "submit", class: "btn-search") do %>
		    	<span class="glyphicon glyphicon-search"></span>
				<% end %>
				<%= search_field_tag :term, params[:term], :class => "proxima-nova-regular", :id => "search-text", :placeholder => "Search" %>
			<% end %> 
		</nav>
	</header>

	<div class="proxima-nova-regular container compare-section">
      <h2>the top 5 compared for you</h2>
	  <span class="dash"></span>
      <div class="compare-wrap compare-ht">
        <div class="common-features compare-ht">
        	<ul>
        		<% @common_features.uniq.each do |cf| %>
        			<li><strong><%= cf["text"] %></strong><%= @good_and_bad.keys.first.send(cf["feature_code"]) %></li>
						<% end %>
        	</ul>
        </div>
        <div class="compare-arrow compare-ht">
        	<%= image_tag "compare-bg.svg", class: "img-responsive" %>
        </div>
      	<table class="table table-bordered table-striped compare-ht">
      		<thead>
      			<tr>
    			    <th>common features</th>
    			    <th>whats good in it</th>
    			    <th>missing features</th>
      			</tr>
      		</thead>
      		<tbody class="compare-ht">
      			<% @good_and_bad.each do |camera, good_bad| %>
      				<% common_features = @common_features.map{|c| c["text"]} %>
	      	  	<tr>
	    	  	    <th>
	    	  	    	<%= link_to camera_path(camera) do %>
	    	  	        <div class="product-thumb">
	    	  	        	<%= image_tag camera.default_image, width: "75", height: "57", class: "img-responsive" %>
	    	  	        </div>
	    	  	       <% end %>
    	  	        <span class="product-name"><%= camera.model_name %></span>
	    	  	    </th>
	    	  	    <td>
	    	  	    	<ul>
	    	  	    		<% good_bad.each do |k,v| %>
											<% if !common_features.include?(k["text"]) && (v["worse"].to_f/v["total"].to_f >= 0.7)%>
												<li><%= k["text"] %></li>
											<% end %>
										<% end %>
	    	  	    	</ul>
	    	  	    </td>
	    	  	    <td>
	    	  	    	<ul>
	    	  	    		<% good_bad.each do |k,v| %>
											<% if !common_features.include?(k["text"]) && (v["better"].to_f/v["total"].to_f >= 0.7)%>
												<li><%= k["text"] %></li>
											<% end %>
										<% end %>
	    	  	    	</ul>
	    	  	    </td>
	      	  	</tr>
	      		<% end %>
      	  </tbody>
      	</table>
      </div>
    </div>
                
</body>
</html>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('input#search-text').autocomplete({
			minLength: 1,
			source: '<%= solr_search_path(:json) %>',
			mustMatch : false,
			focus: function(event, ui){
				$('input#term').val(ui.item.model_name);
				return false;
			},
			select: function(event, ui){
				$('input#term').val(ui.item.model_name);
				$('.navbar-form').submit(); 
				return false;
			},
		})
		.data("ui-autocomplete")._renderItem = function(ul,item){
                        ul.addClass('search-container');
			return $("<li></li>")
			.data("ui-autocomplete-item",item)
			.append("<a href=/cameras/" + item.id + ">" +"<span class='search-image'><img src='" + 
                   item.default_image_url +"'></span>"  + "<span class='search-model-name'>" + item.model_name  +  "</span></a>" )
			.appendTo(ul);
		};
$('.ui-autocomplete').wrap('<div class="search-wrap" />');
	});

	$('input#search-text').focus(function() {
  	this.value = "";
	});
</script>
