<!-- <div class="links">
  <h4>Text-based:</h4>
  <ul id="inline-popups">
    <li><a href="#test-popup" data-effect="mfp-zoom-in">Zoom</a></li>
  </ul>
</div>  
 -->  
  
<!-- Popup itself -->
<!-- <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">You may put any HTML here. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</div>

 -->
<body class="parallax">
  <header class="row">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag "logo-clearlee.png", width: "21", height: "20", alt: "Clearlee Logo" %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#product-details" title="Sony Cyber Shot RX 100 II"><%= @camera.brand + " " + @camera.model_name %></a></li>
            <li><a href="#ratings-section" title="Rating">Rating</a></li>
            <li><a href="#pros-cons" title="Pros &amp; Cons">Pros &amp; Cons</a></li>
            <li><a href="#related" title="Related">Related</a></li>
            <li><a href="#specs" title="Specs">Specs</a></li>
            <li><a href="#" title="Reviews">Reviews</a></li>
          </ul> 
        </div>
       </nav>
    </header>

  <%= render :partial => "product_details", locals: {camera: @camera} %>

  <%= render :partial => "good_and_bad_details", 
    locals: {title: "Within price band", 
            good_for_price: @good_for_price, bad_for_price: @bad_for_price, good_for_type: @good_for_price_across_body_type,
            bad_for_type: @bad_for_price_across_body_type, camera: @camera, show_verdict: "true"} %>


  <!--%= raise "#{@similar_cameras_in_price_range.map(&:default_image).inspect} : #{@similar_cameras_in_brand.map(&:id).inspect}" %-->
    <%= render :partial => "similar_cameras", locals: {title: "Similar Cameras in price bracket", 
                _similar_cameras: @similar_cameras_in_price_range[0..7], camera: @camera}%>


  <% if @camera.get_sample_images.present? && @camera.get_sample_images.count != 0 %>
    <div class="row" id="pdp-dark-bg">
      <%= render :partial => "image_tiles", locals: {title: "Images shot with this camera", imgs: @camera.get_sample_images}%>
    </div>
  <% end %>

  <div id="specs">
    <%= render :partial => "specs", locals: {camera: @camera}%>
  </div>

  <%= render :partial => "detailed_specs", locals: {camera: @camera}%>
</body>


<script>
  jQuery(document).ready(function($) {
    if($('#images_count').val() == 0) {
      $('.carousel-control').hide();
    }

    $('#rating-price').width($('#hidden-rating-price').val());
    $('#rating-group').width($('#hidden-rating-group').val());
  });
</script>
