<header class="row">
<nav class="navbar navbar-default navbar-fixed-top searchbox" role="navigation">
	
	<%= form_tag '/search/solr', :method => :get do %>
	<a class="navbar-brand" href="#">
		<%= image_tag "logo-clearlee.png", width:"21", height:"20", alt:"Clearlee Logo", class:"img-responsive" %>
	</a>
	<!-- <input id="search-text" class="proxima-nova-regular" name="search" type="text" value="search">  -->
	<%= button_tag(type: "submit", class: "btn-search") do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
	<%= search_field_tag :term, params[:term], :class => "proxima-nova-regular", :id => "search-text", :placeholder => "Search" %>
	<% end %> 
</nav>
</header>

<%= render :partial => "tabbed_header" %>
<%= render :partial => "camera_selection_options", locals: {filter: params[:type] || "price"} %>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('input#search-text').autocomplete({
		minLength: 1,
		source: '<%= solr_search_path(:json) %>',
		mustMatch : false,
		focus: function(event, ui){
			$('input#term').val(ui.item.model_name);
			return false;
		},
		select: function(event, ui){
			$('input#term').val(ui.item.model_name);
			$('.navbar-form').submit(); 
			return false;
		},
	})
	.data("ui-autocomplete")._renderItem = function(ul,item){
		ul.addClass('search-container');
		return $("<li></li>")
		.data("ui-autocomplete-item",item)
		.append("<a href=/cameras/" + item.id + ">" +"<span class='search-image'><img src='" + 
			item.default_image_url +"'></span>"  + "<span class='search-model-name'>" + item.model_name  +  "</span></a>" )
		.appendTo(ul);
	};
	$('.ui-autocomplete').wrap('<div class="search-wrap" />');
	$('.selectpicker').selectpicker('refresh');
	$('#tab-1').trigger('click');
});

$('input#search-text').focus(function() {
	this.value = "";
});
$('#tab-1').click(function(){
	$('#tab-1').addClass('active');
	$('#tab-2').removeClass('active');
	$('#filter').val('price');
	$('.selectpicker').children().remove();
	opts = <%= @price_brackets.to_json.html_safe %>
	$.each(opts,function(key, val) 
	{
		$('.selectpicker').append('<option>' + val + '</option>');
	});
	// $('select[name=selValue]').val(1);
	// $('select[name=selValue]').change();
	$('.selectpicker').selectpicker('refresh');
	$('.camera_type').trigger('change');
});

$('#tab-2').click(function(){
	$('#tab-2').addClass('active');
	$('#tab-1').removeClass('active');
	$('#filter').val('type');
	$('.selectpicker').children().remove();
	var opts = <%= @types.to_json.html_safe %>;
	$.each(opts,function(key, val) 
	{
		$('.selectpicker').append('<option>' + val + '</option>');
	});
	$('.selectpicker').selectpicker('refresh');
	$('.camera_type').trigger('change');
});

$('.camera_type').change(function(){
	$.ajax({
		url: '/cameras/top_cameras',
		data: {type: $("#filter").val(), value: $(this).val()},
		type: "GET",
		error: function(xhr, textStatus, errorThrown ){
			console.log("XXX error:" + errorThrown);
		},
		success: function(data){
			$("#selected_cameras").val("");
  	//var str = JSON.stringify(data, undefined, 2);
  	jQuery.each(data.data, function(i, value) {
  		if($("#selected_cameras").val() == "") {
  			$("#selected_cameras").val(value.id);
  		}
  		else {
  			$("#selected_cameras").val($("#selected_cameras").val() + "," + value.id);	
  		}

  		var index = i + 1;
  		var name = "item-name-" + index;
  		$("#" + name).text(value.model_name);
  		var image_href = "product-thumb-" + index;
  		$("#" + image_href).attr("href", value.href);
  		var href = "item-price-" + index;
  		$("#" + href).attr("href", value.href);
  		var image = "item-image-" + index;
  		$("#" + image).attr("src", value.image_url);
  		var price = "item-price-" + index;
  		$("#" + price).text("$" + value.price);
  		var rating = "item-rating-" + index;
  		$("#" + rating).text(value.clearlee_rating.toString().substring(0,5));
  	});
  	$('#selection-count').text(data.total_cameras);
  	//$('.selectpicker').selectpicker('refresh');
  }
});	
return false;
});
</script>
