@font-face {
    font-family: 'kelson_sanslight';
    src: url('/assets/kelson_sans_light-webfont.eot');
    src: url('/assets/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/kelson_sans_light-webfont.woff') format('woff'),
         url('/assets/kelson_sans_light-webfont.ttf') format('truetype'),
         url('/assets/kelson_sans_light-webfont.svg#kelson_sanslight') format('svg');
}
@font-face {
    font-family: 'proxima_nova_regular';
    src: url('/assets/proximanova-regular-webfont.eot');
    src: url('/assets/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/proximanova-regular-webfont.woff') format('woff'),
         url('/assets/proximanova-regular-webfont.ttf') format('truetype'),
         url('/assets/proximanova-regular-webfont.svg#proxima_nova_regular') format('svg');
}
@font-face {
    font-family: 'bebas_regular';
    src: url('/assets/bebas-webfont.eot');
    src: url('/assets/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/bebas-webfont.woff') format('woff'),
         url('/assets/bebas-webfont.ttf') format('truetype'),
         url('/assets/bebas-webfont.svg#bebas_regular') format('svg');
}
body{padding-top:50px;height:100%}
h1,h2,h3{text-transform:uppercase}
h1,.h1,h2,.h2{font-size:40px}
h3,.h3{font-size:16px;font-weight:bold;margin-bottom:6px}
.bg-theme h3{margin-bottom:17px}
a,button{transition:all 0.2s ease 0s}

/*Default Styles*/
.kelson-sanslight {font-family:'kelson_sanslight';font-style:normal;font-weight:normal}
.proxima-nova-regular{font-family:'proxima_nova_regular';font-style:normal;font-weight:normal}
.bebas-regular{font-family:'bebas_regular';font-style:normal;font-weight:normal}
.text-bold{font-weight:bold}

/*Header*/
.navbar-nav > li > a{margin:0 10px;outline:none}
.navbar-nav > li:first-child{margin-left:25px}
.navbar-default{background-color:#f3f3f3;font-family:'proxima_nova_regular';font-size:1.143em}
.navbar-default.searchbox{background-color:#fff}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{color:#2e3a41;background-color:transparent;border-bottom:2px solid #353535;}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{background-color:#fe4365;padding-top:14px;width:50px;text-align:center}
.navbar-fixed-top{border-bottom:none}
.navbar-nav > li > a{padding-bottom:13px}
.logo-brand{display:block;margin-top:35px}
.logo-brand + h1{margin:14px 0 22px}
.logo-brand ~ .dash{margin:10px auto 20px;height:4px}
#search-text{height:50px;border:none;width:calc(100% - 100px);color:#1d1d1d;font-size:1.5em;background:url(/assets/logo-clearlee-big.png) no-repeat 15px 8px;padding:0 18px;text-indent:-9999px;overflow:hidden}
#search-text:active,#search-text:focus{background-image:none;text-indent:0}
.btn-search{float:right;width:50px;height:50px;background-color:#fe4365;border:none;color:#fff;font-size:1.2em}
.product-selector{text-align:center;border-bottom:1px solid #eeefef;padding-bottom:12px}
.product-selector p{display:inline-block;font-size:1.65em;color:#2e3a41;height:57px;line-height:57px;vertical-align:top}
.product-selector em{font-style:normal;color:#fe4365}

/*Typeahead*/
.search-wrap{padding-left:0;width:auto!important;float:left;position:fixed!important;left:50px!important;top:66px!important;}
.search-wrap .search-image{float:left;width:46px;line-height:56px}
.search-wrap .search-image img{max-width:100%;height:auto}
.search-wrap .search-model-name{float:left;padding:12px;width:82%;text-overflow:ellipsis}
.search-wrap .ui-autocomplete{background:#fff;float:left;padding:0;max-height:280px;overflow:auto;margin:0}
.ui-menu-item{float:left;clear:both;list-style:none;width:100%}
.ui-menu-item a{float:left;clear:both;color:#778085;padding-left:12px;transition:none;border-top:1px solid #dee0e1;width:100%;min-height:58px}
.ui-menu-item:first-child a{border-top:none}
.ui-menu-item a:hover,.ui-menu-item a:focus{border-left:4px solid #fe5877;padding-left:8px;text-decoration:none;color:#556067}
.search-wrap:before{position:absolute;top:-7px;left:16px;display:inline-block;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-left:7px solid transparent;border-bottom-color:rgba(0,0,0,0.2);content:''}
.search-wrap:after{position:absolute;top:-6px;left:17px;display:inline-block;border-right:7px solid transparent;border-bottom:6px solid #ffffff;border-left:7px solid transparent;content:''}
/*Dropdown*/
.dropdown{margin:7px 0 0 16px;display:inline-block;text-align:left;font-weight:bold;color:#2e3a41}
.dropdown .btn-default:hover,.dropdown .btn-default:focus,.dropdown .btn-default:active,.dropdown .btn-default.active,.dropdown .open .dropdown-toggle.btn-default,.dropdown .btn-default{background:none;border-color:#62c275}
.dropdown .dropdown-menu{border-color:#62c275;padding:0;margin:-1px 0;border-radius:0 0 4px 4px}
.dropdown .dropdown-menu > li > a{border-top:1px solid #62c275;padding:5px 9px;font-size:1.18em}
.dropdown .dropdown-menu > li > a:hover,.dropdown .dropdown-menu > li > a:focus{background:none}
.dropdown .dropdown-menu > li:first-child > a{border-top:none}
.dropdown .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:auto;min-width:140px}
.dropdown button{border-color:#62c275;width:100%;text-align:left;padding:2px 9px;font-size:1.643em}
.dropdown .glyphicon-camera{top:2px;color:#969ca0}
.btn-group.open .dropdown-toggle{box-shadow:none;border-radius:4px 4px 0 0}
.btn-group.open.dropup .dropdown-toggle{border-radius:0 0 4px 4px}
.btn-group.open.dropup .dropdown-menu{border-radius:4px 4px 0 0}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{margin-top:7.5px;position:absolute;right:11px;color:#62c275}
.bootstrap-select.btn-group .dropdown-menu li a:hover i.check-mark,.bootstrap-select.btn-group .dropdown-menu li a:focus i.check-mark{display:inline-block}
/*.dropdown .form-control{height:57px;font-size:2em}
.dropdown .glyphicon{background-color:#f0f1f2;font-size:1.3em;color:#b6bbbd}
.dropdown button .glyphicon{background:none;color:#999;font-size:0.391em;top:-2px}

*/

#selection-results.tab-content{border-bottom:1px solid #eeefef}
#selection-results.tab-content:after{content:"";background:url("/assets/arrow-down.gif") no-repeat center top;width:21px;height:9px;display:block;margin:0 auto -9px}
.review-results{margin:0 10.75% 1.6%}
.review-panel{border:1px solid #ccc;color:#fff;text-transform:uppercase;margin:-12px 4px 3px -6px;background-color:#2d3a40;text-align:center;position:relative}
.review-panel strong.bebas-regular{display:block;color:#ffd13d;font-size:3em;margin:6px 0 -13px}
.review-panel em{display:block;font-style:normal;padding-bottom:10px;}
.review-panel p{padding:12px 13px 50px;font-size:.9em;line-height:1.2}
.review-panel p span{text-transform:uppercase;font-size:.65em}
.review-panel p strong {font-size:1.5em}
.review-panel .triangle{width:0;height:0;border-bottom:10px solid #ccc;border-right:11px solid transparent;position:absolute;right:-11px}
.btn-compare{text-align:center;padding-top:30px;}
.btn-compare button{text-transform:uppercase;padding:7px 42px 6px;font-size:1.25em}

/*Shortlisted Products*/
.shortlisted {text-align:center;margin-bottom:0;margin-top:3.1%}
.shortlisted td{border:none!important}
.shortlisted .product-name{font-size:1.4em;font-weight:normal;line-height:1.15;padding:20px 20px 0;display:table-cell}
.shortlisted .product-thumb{padding-top:0;width:20%}
.shortlisted .product-thumb img {vertical-align:middle;max-height:100px;max-width:95%}
.shortlisted .btn-info.btn-theme{border:1px solid #fe4567;margin-top:7px;font-weight:normal;font-size:1.1em;padding:4px 12px}
.shortlisted .btn-info.btn-theme .glyphicon{top:3px}
.shortlisted .popover{right:138px!important}
.shortlisted td{position:relative}


/*Modal Popups*/
.modal-content{border-top-left-radius:0}
.modal-header{padding:20px}
.modal-title{text-transform:uppercase;font-size:1.15em;margin-bottom:4px}
.modal .product-thumb{height:80px;text-align:center}
.modal .product-name{font-size:1.15em;font-weight:normal}
.modal h5{text-transform:uppercase;color:#999;font-size:0.9em}
.modal h5 + .dash{background-color:#d6d6d6;margin:0 auto 10px;width:18px;height:2px}
.modal{font-size:.9em}
.modal .price{margin-top:8px}
.modal .price-mrp{margin-top:0}
.modal .btn-info.btn-theme{margin-top:18px;border:none;font-size:1.25em;color:#fff;background-color:#69beff;padding:3px 16px 1px;margin-bottom:20px}
#popup-compare table tr:first-child th {border-top:0}
#popup-compare table tr:last-child td {border-bottom:0}
#popup-compare table tr td:first-child,table tr th:first-child {border-left:0}
#popup-compare table tr td:last-child,table tr th:last-child {border-right:0}
#popup-compare .table-bordered td {border-bottom:none!important}
#popup-compare .table-bordered{border:none!important;margin-bottom:0}
#popup-compare .modal-body{padding:0}
#popup-compare table th, #popup-compare table td{text-align:center;padding:8px 16px}

/*Header banner*/
.jumbotron{text-align:center;padding:0}
.jumbotron h1{color:#fff;text-transform:none;font-size:4em;margin-top:4.2%}
.search-type{border-bottom:none;bottom:-1px;position:absolute;width:100%;text-align:center;font-size:1.8em}
.search-type a{background:rgba(255,255,255,0.4);color:#fff;text-transform:uppercase}
.jumbotron{margin-bottom:18px;position:relative}
.jumbotron .nav-tabs > li{float:none;display:inline-block;*display:inline;*zoom:1;padding:0;margin:0 -8px 0 0;}
.jumbotron .nav-tabs > li > a{border-radius:0;margin:0}
.jumbotron .nav-tabs > li.active > a{/*font-size:.8em;*/color:#2e3a41;border-top:2px solid #fe6984}
.jumbotron .nav-tabs > li > a .glyphicon{font-size:.72em;background:rgba(255,255,255,0.4);width:54px;height:54px;border-radius:50%;line-height:52px;vertical-align:middle;margin:15px 16px 15px 8px}
.jumbotron .nav-tabs > li.active > a .glyphicon{background-color:#62c275;color:#fff;font-size:0.7em;line-height:54px}
.jumbotron .nav > li:not(.active)  > a:hover, .jumbotron .nav > li:not(.active) > a:focus{color:#2e3a41;background:rgba(238,238,238,0.4);border:1px solid rgba(238,238,238,0.0)}
.jumbotron .nav > li:not(.active) > a:hover .glyphicon, .jumbotron .nav > li:not(.active) > a:focus .glyphicon{background:rgba(0,0,0,0.1)}

/*Carousel*/
#carousel-product .item img, .logo-brand img{margin:0 auto}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{color:#c4c4c4}
#carousel-product{margin-bottom:40px}
.carousel-control.left, .carousel-control.right{background:none;text-shadow:none;filter:none}
.bg-theme{background-color:#2e3a41}
.bg-theme *{color:#fff}
.btn-info.btn-theme{border-radius:20px;border:1px solid #fe4567;background-color:#fff;color:#fe4365;text-transform:uppercase;padding:4px 20px;font-size:1.1em;transition:all .2s ease}
.btn-info.btn-theme:hover, .btn-info.btn-theme:focus{background-color:#fe4567;color:#fff;box-shadow:none}
.btn-info.btn-theme:active, .btn-info.btn-theme.active{background-color:#cc3754;color:#fff;box-shadow:none;border-color:#e54060}
.btn-info.btn-theme .glyphicon{font-size:1em;font-weight:lighter;float:none;color:#fe4365;top:4px;display:inherit}
.btn-info.btn-theme:hover .glyphicon, .btn-info.btn-theme:focus .glyphicon,.btn-info.btn-theme:active .glyphicon, .btn-info.btn-theme.active .glyphicon,#best-price-btn.bebas-regular:focus,#best-price-btn.bebas-regular:active,#best-price-btn.bebas-regular.active{color:#fff}
.price-mrp{display:block;margin-top:4px;text-decoration:underline}
#product-details{padding-bottom:64px}
#pros-cons{padding:38px 0 54px}
.dash{width:26px;height:3px;background-color:#fe4365;display:block}
.best-price, .rates{margin-top:30px}
.best-price.col-xs-offset-1{width:5.333%}
.best-price .glyphicon, .rates .glyphicon{font-size:2.2em;color:#c0c4c6;top:10px}
.best-price h3, .rates h3{margin-top:2px}
.rates-section{text-align:center;margin:35px 0 0;border:1px solid #d8d8d8;border-radius:5px}
.rates-section > div{border-left:1px solid #d8d8d8;min-height:110px}
.rates-section > div:first-child{border-left:none}
.rates-section > div:nth-child(even){background-color:#f4f4f4}
.rates-section .circle{display:block;margin:-10px auto 0;text-align:center;width:64px;height:64px;line-height:64px;;border-radius:50%;color:#fff;font-size:2.1em}
.rates-section .circle.quote{background-color:#ff4366;font-weight:bold;font-size:5em}
.rates-section .circle.strongest{background-color:#62c376}
.rates-section .circle.strong{background-color:#090}
.rates-section .circle.medium{background-color:#f9d445}
.rates-section .circle.weak{background-color:#CCC}
.rates-section  h4{font-size:2.1em;font-weight:normal;color:#323232;margin-top:-4px}
.rates-section .proxima-nova-regular{line-height:1.1;display:block;margin-top:14px}
.title-wrap{float:left;padding-left:16px}
#best-price-btn + .popover{border:2px solid #cdcdcd;max-width:686px;margin-left:-16px;text-align:center;top:0!important}
#best-price-btn + .popover .dash{background-color:#cacaca;margin:6px auto 0;height:2px;width:32px}
#best-price-btn + .popover .price{margin-top:7px}
#best-price-btn + .popover .price-mrp{font-size:0.857em;margin-top:2px}
#best-price-btn + .popover .btn-info.btn-theme{border-width:1px;margin-top:17px;padding:5px 17px 2px;font-size:1em}
#best-price-btn + .popover .col-md-4{padding:9px 6px 18px;width:136px}
#best-price-btn + .popover .col-md-4:nth-child(even){background-color:#f4f4f4}
#best-price-btn + .popover .popover-content{padding:0}
#best-price-btn + .popover.left > .arrow{top:147px!important;border-left-color: rgba(0, 0, 0, 0.14)}
#best-price-btn + .popover.left > .arrow:after{right:2px}
.brand-icon{margin-top:-2px;overflow:hidden}


@media (min-width: 1200px) {
  .container{width:1000px}
}


.kelson-sanslight {font-family:'kelson_sanslight';font-style:normal;font-weight:normal}
.proxima-nova-regular{font-family:'proxima_nova_regular';font-style:normal;font-weight:normal}
.bebas-regular{font-family:'bebas_regular';font-style:normal;font-weight:normal}
.text-bold{font-weight:bold}
.navbar-nav > li > a{margin:0 10px;outline:none}
.navbar-nav > li:first-child{margin-left:25px}
.navbar-default{background-color:#f3f3f3;font-family:'proxima_nova_regular';font-size:1.143em}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{color:#2e3a41;background-color:transparent;border-bottom:2px solid #353535;}
.navbar-default .navbar-brand{color:#fff;background-color:#fe4365;padding-top:14px}
.navbar-default .navbar-brand .glyphicon{font-size:1.2em}
.navbar-fixed-top{border-bottom:none}
.navbar-nav > li > a{padding-bottom:13px}
.logo-brand{display:block;margin-top:35px}
.logo-brand + h1{margin:14px 0 22px}
.logo-brand ~ .dash{margin:10px auto 20px;height:4px}
#carousel-product .item img, .logo-brand img{margin:0 auto}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{color:#c4c4c4}
#carousel-product{margin-bottom:40px}
.carousel-control.left, .carousel-control.right{background:none;text-shadow:none}
.bg-theme{background-color:#2e3a41}
.bg-theme *{color:#fff}
.btn-info.btn-theme{border-radius:20px;border:2px solid #fe4567;background-color:#fff;color:#fe4365;text-transform:uppercase;font-weight:bold;padding:4px 20px 2px;font-size:19px;margin-top:12px;transition:all .5s ease;}
.btn-info.btn-theme:hover, .btn-info.btn-theme:focus{background-color:#fe4567;color:#fff;box-shadow:none}
.btn-info.btn-theme:active, .btn-info.btn-theme.active{background-color:#cc3754;color:#fff;box-shadow:none;border-color:#e54060}
.price{display:block;font-size:36px;margin-top:14px}
.price:before{content:'$';font-size:28px}
#best-price-btn.bebas-regular{color:#666;border:1px solid #fe4567;border-radius:30px;margin-top:25px;font-size:2em;padding:4px 20px 7px}
#best-price-btn.bebas-regular:before{content:'$';font-size:28px}
#best-price-btn.bebas-regular .glyphicon{font-size:.5em;margin-left:34px;vertical-align:middle}
#best-price-btn.bebas-regular ~ .price-mrp{text-decoration:line-through;margin:6px 0 0 24px;color:#9c9c9c;font-size:1.1em;letter-spacing:1px}
#best-price-btn + .popover,.best-price-btn + .popover{border:2px solid #cdcdcd;max-width:686px;text-align:center;top:-26px!important;right:100%!important}
#best-price-btn + .popover .dash,.best-price-btn + .popover .dash{background-color:#cacaca;margin:6px auto 0;height:2px;width:32px}
#best-price-btn + .popover .price,.best-price-btn + .popover .price{margin-top:7px}
#best-price-btn + .popover .price-mrp,.best-price-btn + .popover .price-mrp{font-size:0.857em;margin-top:2px}
#best-price-btn + .popover .btn-info.btn-theme,.best-price-btn + .popover .btn-info.btn-theme{border-width:1px;margin-top:17px;padding:5px 17px 2px;font-size:1em;display:inline-block}
#best-price-btn + .popover .col-md-4,.best-price-btn + .popover .col-md-4{padding:9px 6px 18px;width:136px}
#best-price-btn + .popover .col-md-4:nth-child(even),.best-price-btn + .popover .col-md-4:nth-child(even){background-color:#f4f4f4}
#best-price-btn + .popover .popover-content,.best-price-btn + .popover .popover-content{padding:0}
#best-price-btn + .popover.left > .arrow,.best-price-btn + .popover.left > .arrow{top:147px!important;border-left-color: rgba(0, 0, 0, 0.14)}
#best-price-btn + .popover.left > .arrow:after,.best-price-btn + .popover.left > .arrow:after{right:2px}
.shortlisted .best-price-btn + .popover{border:2px solid #cdcdcd;max-width:686px;margin-left:-16px;text-align:center;top:-117px!important}
.brand-icon{margin-top:-2px;overflow:hidden}

/*Rating*/
.rating-wrapper{margin:0 auto 35px;width:180px;height:30px;background:url(/assets/star-rating-sprite.png) repeat-x;}
.rating-wrapper .rating-star{float:left;height:30px;width:50%;background:url(/assets/star-rating-sprite.png) 0 -39px repeat-x;}
.rating-review{float:left;color:#2e3a41;position:relative;padding-left:40px}
.rating-review h5{font-size:1.143em;font-weight:bold;margin:0}
.rating-review em{font-style:normal;font-size:1.714em}
.rating-best-price{font-size:18px;line-height:0.9;padding-left:8px;text-align:left;display:table-cell;vertical-align:middle}
.rates-section{border:1px solid #d8d8d8;border-radius:5px}
.rates-section > div{border-left:1px solid #d8d8d8;min-height:110px;padding-bottom:19px}
.rates-section > div:first-child{border-left:none}
.rates-section > div:nth-child(even){background-color:#f4f4f4}
.rates-section .rating-value{margin:0 8px 0 -16px;text-align:center;width:48px;height:48px;line-height:44px;border-top-right-radius:4px;
border-bottom-right-radius:4px;color:#fff;font-size:2.1em;position:absolute;left:0}
.rates-section .rating-value.quote{background-color:#ff4366;font-weight:bold;font-size:5em}
.rates-section .rating-value.strongest{background-color:#62c376}
.rates-section .rating-value.strong{background-color:#090}
.rates-section .rating-value.medium{background-color:#fe4365}
.rates-section .rating-value.weaker{background-color:#f9d445}
.rates-section .rating-value.weak{background-color:#CCC}
.rates-section  h4{font-size:0.786em;font-weight:normal;text-transform:uppercase;color:#2e3a41;margin:11px 0;text-align:center}
.rates-section .proxima-nova-regular{line-height:1.1;display:block;margin-top:14px}
.rates-section #best-price-btn.bebas-regular{margin:0 0 0 -15px; border: medium none; background-color: rgb(244, 244, 244); border-radius: 0px 4px 4px 0px;padding:2px 16px 6px 10px}
.rates-section #best-price-btn.bebas-regular .glyphicon{font-size:9px;margin-left:12px;top:0}
.rates-section #best-price-btn.bebas-regular .glyphicon:hover,.rates-section #best-price-btn.bebas-regular .glyphicon:focus{color:#fe4365}
.rates-section #best-price-btn.bebas-regular:before{font-size:18px}
.rates-header{display:inline-block}
.market-price{text-align:center;margin-top:-8px;font-size:18px;position:relative}
.market-price:before{content:"";position:absolute;top:50%;left:25%;right:25%;height:3px;background:#fe4365;z-index:-1}
.market-price strong{font-size:31px}
.best-price-wrapper{margin-top:28px;float:left;clear:both;width:100%;display:table}
.table-cell{display:table-cell}
/*Product Pros & Cons*/
#product-pros-cons{margin:37px 0 30px}
#product-pros-cons li{text-align:center;text-transform:uppercase;padding:0}
#product-pros-cons.nav-pills > li > a{border-radius:0;border:1px solid #4d565d;font-size:1.3em;padding:12px 15px;color:#4d565d}
#product-pros-cons.nav-pills > li + li{margin-left:0}
#product-pros-cons.nav-pills > li.active > a, #product-pros-cons.nav-pills > li.active > a:hover, #product-pros-cons.nav-pills > li.active > a:focus{background-color:#4d565d;color:#fff}
#product-pros-cons.nav > li > a:hover,#product-pros-cons.nav > li > a:focus{background-color:#394a55;color:#fff}

.product-pros-cons{padding-bottom:34px}
.product-pros-cons>div{border:1px solid #5e666b;padding-top:18px}
.product-pros-cons .glyphicon{font-size:2em;color:#697175;margin:20px 0 0 -12px}
.product-pros-cons ul{list-style:circle;padding:30px 0 50px 24px;font-size:1.857em}
.product-pros-cons ul li{color:#697175;padding-bottom:14px}
.product-pros-cons ul span{color:#fff}

.verdict-usefulness>div{border:1px solid #5e666b;border-radius:12px;border-top-left-radius:0}
.verdict-usefulness ul{list-style:circle;padding:14px 0 26px 18px;font-size:1.429em}
.verdict-usefulness ul li {color:#697175;padding-bottom:4px}
.verdict-usefulness .col-md-3.verdict{width:20%;margin-right:3.3%}
.verdict .glyphicon{background:#62c275;color:#fff;font-size:2.5em;margin:0 24px 2px -14px;padding:15px 19px;float:left;border-bottom-left-radius:10px}
.verdict h4{text-transform:uppercase;color:#acafb1;font-size:0.857em}
.verdict p{font-size:1.286em;margin-top:-5px}
.dash-sub{background-color:#525c62;display:block;height:1px;width:24px}

/*Compare Other Products*/
#related{padding:65px 0 54px;overflow:hidden}
#product-compare{margin-top:30px}
#product-compare h5{font-size:1.32em;text-align:left;color:#242424}
.product-rating{color:#fff;background-color:#fe4365;border-radius:6px;border-top-left-radius:0;text-align:center;font-size:2.1em;display:inline-block;padding-bottom:2px;width:32%}
.product-sub .product-rating{font-size:1.15em;margin-top:12px;padding:1px;background-color:#2d3a42;width:26%}
.product-sub{float:left;margin-top:20px;padding:0 20px;position:relative}
.product-sub{margin-right:0;display:block;cursor:pointer}
.product-sub span{display:block}
.product-desc .product-thumb{height:120px;margin-top:30px}
.product-thumb:before {content:"";display:inline-block;height:100%;vertical-align:middle}
.product-thumb img {vertical-align:middle;max-height:100px;max-width:95%;display:inline-block}
.product-name{color:#242424;font-size:1.32em;text-align:left;display:block;margin:18px 0 21px;line-height:1.1}
.product-desc{margin-bottom:16px}
.price-compare{display:block;margin:0 -20px;padding:12px 0;text-align:center;color:#333}
.price-compare strong{color:#fe4365}
.compare{position:absolute;width:26px;height:26px;line-height:26px;border-radius:50%;background-color:#2e3a41;color:#fff;right:-15px;top:30px;font-size:0.643em}

/*Photo samlpe section*/
#photo-sample{padding:25px 0 16px}
#gallery-images{margin-top:23px;padding:0}
#gallery-images a {padding:0;position:relative}
#gallery-images img{border:2px solid #67757d;width:325px;height:180px;margin:4px}
.img-zoom{position:absolute;top:6px;left:6px;background:rgba(0,0,0,0.5) url(/assets/search-white.png) no-repeat center center;width:325px;height:180px;opacity:0;-webkit-transition:opacity 500ms;-moz-transition:opacity 500ms;-o-transition:opacity 500ms;transition:opacity 500ms;}
#gallery-images a:hover .img-zoom,#gallery-images a:focus .img-zoom{opacity:1}
.social-icon{margin:10px 2px}

/*Specs*/
#specs{margin:35px 0}
#specs h3{margin-top:28px}
.view-select{padding-top:25px}
.view-select span.proxima-nova-regular{float:left;font-size:0.8em;height:38px;line-height:38px;margin-right:22px}
.thumb-view,.list-view{border:1px solid #ccc;border-radius:10px;float:left;height:38px;line-height:38px;width:42px;text-align:center;color:#acacac;font-size:1.4em}
.thumb-view{margin-right:-1px;border-top-right-radius:0;border-bottom-right-radius:0}
.list-view{border-top-left-radius:0;border-bottom-left-radius:0}
.thumb-view:hover,.list-view:hover,.thumb-view:focus,.list-view:focus{color:#7e7e7e;transition:all 1s ease;outline:none}
.thumb-view:active,.list-view:active,.thumb-view.active,.list-view.active{color:#7e7e7e;background-color:#f3f3f3}
.spec-wrapper{border:1px solid #ccc;border-radius:10px;border-top-left-radius:0;margin-top:21px;margin-bottom:21px;}
.spec-wrapper > .eq-height{padding-bottom:10px}
.spec-item{padding:24px 24px 9px;overflow:hidden}
.spec-item .glyphicon{font-size:2em;color:#bfbfbf;float:left}
.category{text-transform:uppercase;float:left;padding:4px 0 0 18px;color:#000;font-size:1.14em;max-width:calc(100% - 34px);}
.category strong{text-transform:none;font-size:1.2em;line-height:20px}
.dimension{background-color:#f7f7f7;height:100%;border-top-right-radius:9px;border-bottom-right-radius:9px;text-align:center}
.dimension-wrapper{margin:14px;display:inline-block}
.dimension-img{position:relative}
.width-val{text-align:center;height:23px}
.width-border{border:1px solid #cdcdcd;border-bottom:none;width:100%;height:4px}
.height-border-wrap{position:absolute;top:0;left:100%;height:100%;width:100%}
.height-border{border:1px solid #cdcdcd;border-left:none;width:4px;height:100%;float:left}
.height-val{height:100%;float:left;margin:2px 0 0 14px}
.depth{text-align:center;margin-top:14px}
.key-features{padding-bottom:54px}
.key-features .spec-item{padding-top:31px}
.key-features .category{font-size:1.35em;line-height:22px}
.key-features .category strong{font-size:1em}
.key-features .glyphicon{padding-top:8px}
.detail-spec{border-top:1px solid #d2d2d2;padding-top:2.6em;color:#1d1d1d}
.detail-spec h4{text-transform:uppercase;font-size:0.96em;background-color:#f1f1f1;margin:3px 0 8px -9px;padding:8px;font-weight:bold}
.detail-spec .category{text-transform:none;color:#1d1d1d;padding:8px 0 0 0;line-height:20px;width:100%}
.detail-spec .category strong{font-size:0.9em}
.detail-spec .category a{color:#1d1d1d;text-decoration:underline}
.detail-spec .category a:hover, .detail-spec .category a:focus{color:#1d1d1d;text-decoration:none}
.detail-spec .col-xs-12{margin-bottom:52px}
.detail-spec .col-xs-7{font-weight:bold}
.available{background-color:#2dcc70;color:#fff;font-size:0.9em;padding:2px}

/* Compare Table */
.compare-section{position:relative}
.compare-section h2{font-size:1.8em;margin-bottom:4px}
.compare-section table{margin-top:20px;border:none}
.compare-section table thead{border-bottom:2px solid #ddd}
.compare-section table thead tr th{text-transform:uppercase;font-weight:bold;font-size:0.85em;padding:9px 20px 6px;border:1px solid #fff;color:#999
}
.compare-section table thead tr th.shadow{box-shadow:0px -3px 2px #ccc;background-color:#cbe8c8;color:#333}
.compare-section table tbody{border:1px solid #ddd}
.compare-section table tr th, .compare-section table tr td{padding:13px;border-width:0px 1px}
.compare-section table tr th:first-child{width:48%;padding-left:33.3%}
.compare-section table tr td{font-size:1.2em;width:25%}
.compare-section table tr td ul{padding-left:24px;line-height:1.46}
.compare-section table tr:last-child td.shadow{box-shadow:0px 3px 2px #ccc;}
.compare-section table thead tr th:first-child{padding-left:0;color:#333}
.compare-section .product-name{font-size:0.85em;margin:8px 0 2px}
.compare-wrap{position:relative}
.common-features {position:absolute;top:33px;background-color:#2e3a41;color:#fff;width:23.2%}
.common-features ul{list-style:none;padding:15px 21px;font-size:1.2em;line-height:1.1}
.common-features ul li{margin-bottom:19px}
.common-features strong{color:#b5c1c9;text-transform:uppercase;font-weight:normal;font-size:.8em}
.common-features strong:after{content:'\A';white-space:pre}
.compare-arrow{position:absolute;left:23.2%;top:33px;margin-left:-1px}
.compare-arrow img{height:100%}
.shadow{position:relative;cursor:default}
.shadow:before,.shadow:after{content:'';position:absolute;height:100%;top:0;bottom:0;width:1px;box-shadow:-2px 0 2px}
.shadow:before{left:0}
.shadow:after{right:0;box-shadow:2px 0 2px}

/*Search Result Page*/
#search-results h3{text-transform:none;font-size:1.214e;color:#969ca0}
#search-results .dropdown{margin:0;width:100%}
#search-results .dropdown .bootstrap-select{min-width:100%}

.result-section h2{font-size:1.714em;margin:26px 0 15px;text-transform:none}
.product-set > .row{}
.product-set .product-sub{border-top:1px solid #dfe1e1;margin:0 0 20px}
.product-set .product-desc .product-thumb{margin-top:6px}
.product-set .product-desc .product-name{margin-bottom:12px}
.more-results{background-color:#e7e7e7;text-align:center;color:#242424;padding:12px 0;margin-top:30px}
.more-results:hover,.more-results:focus{background-color:#d7d7d7;color:#242424;text-decoration:none}
/* Footer */
footer{text-transform:uppercase;text-align:center;padding:10em 0 4em}
footer a{font-size:0.857em;color:#2e3a41}
footer a:hover, footer a:focus{color:#2e3a41;text-decoration:none}
footer a img{margin-left:8px}

/*Up pointing*/
.triangle-up {width:102%;height:0;padding-left:50%;padding-bottom:25%;overflow: hidden;position:relative;top:-22px;left:-6px}
.triangle-up div {width:0;height:0;margin-left:-500px;border-left:500px solid transparent;border-right:500px solid transparent;border-bottom:111px solid #fff}

@media (max-width: 767px) { /*Mobile Devices*/
	.jumbotron h1{font-size:2em;margin-top:4.2%}
	.tt-dropdown-menu{width:100%}
	.verdict-usefulness .col-xs-10.verdict,.verdict-usefulness .col-xs-10.usefulness{width:83.3333%}
	.usefulness .glyphicon,.navbar-nav > li:first-child{margin-left:0}
	.verdict, .detail-spec .col-md-3,.rates{margin-bottom:34px}
	.detail-spec .col-md-3{overflow:hidden}
	.view-select > .row{margin-right:0}
	#pros-cons .col-md-10,.spec-wrapper .eq-height,.verdict-usefulness > div {height:auto!important}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{color:#e7e7e7;background-color:#2e3a41;border-bottom:2px solid #e7e7e7;}
	.product-pros-cons ul,.verdict-usefulness ul{padding:30px 0 20px 20px;font-size:1.429em}
	#product-compare, .product-set{margin-top:24px}
	#product-compare h5, .product-set h5{font-size:14px}
    .dimension{border-top-right-radius:0;border-bottom-left-radius:9px}
	.navbar-nav > li > a{padding-bottom:10px}
	.spec-wrapper{margin:21px 0}
	.product-thumb img{max-width:89%}
	.shortlisted .col-md-3{padding:4% 0 0 0;text-align:left;border-top:1px solid #eee}
	.shortlisted .col-md-3:first-child{border-top:none}
	.shortlisted .product-thumb{margin-right:4%;height:96px}
	.shortlisted .product-name{font-size:1.1em;margin-bottom:0}
	.search-type{width:100%;margin:0 -30px}
	.jumbotron .nav-tabs > li{float:left;margin:0;font-size:.8em}
	.triangle-up{top:-64px;padding-bottom:40%}
	.review-panel p{padding-bottom:70px}
  	/*.product-selector .dropdown{margin:-16px 16px 18px}*/
	.product-selector p{line-height:1.5;margin-top:8px}
	.rates-section > div{border-left:none;border-top:1px solid #d8d8d8}
	.rates-section > div:first-child{border-top:none}
	
	#product-compare .product-desc .product-thumb{margin-top:0;float:left;width:33%;margin-right:2%}
	#product-compare .product-sub{border-top:1px solid #ccc}
	#product-compare .product-sub:first-child{border-top:none}
	#product-compare .product-sub .product-rating{width:30px;float:left}
	#product-compare .product-name{float:left;padding:10px 0 14px;margin:0;width:65%;height:auto!important}
	.ui-autocomplete.ui-menu{max-width:80%!important}
	.ui-menu-item a{padding-right:0}
	.ui-autocomplete .search-model-name{width:78%}
	.jumbotron .nav-tabs{background-color:#555}
	.search-type{position:relative}
}
@media (min-width: 768px) and (max-width: 991px) {
    .verdict-usefulness .col-xs-10.usefulness{width:60.15%}
	#pros-cons .col-md-10,.spec-wrapper .eq-height {height:auto!important}
    .dimension{overflow:hidden;border-top-right-radius:0;border-bottom-left-radius:9px}
	.navbar-nav > li > a{margin:0;padding-left:14px;padding-right:14px}
	.navbar-default{font-size:1em}
	.product-thumb img{max-width:89%}
	.jumbotron .nav-tabs{background-color:#555}
	.search-type{position:relative}
}
@media (min-width: 992px) and (max-width: 1199px) {

	.jumbotron .nav-tabs{background:none}
}
@media (min-width: 1200px) {
  .container{width:1000px}
  #carousel-jumbotron .item img{min-width:100%}
}
