.icon-bar {
  background-color: #FFFF80 !important;
}

.navbar-collapse {
  color: #FFFF80 !important;
}

.navbar-toggle {
  color: #FFFF80;
  background-color: transparent;
  border-color: #FFFF80 !important;
  &:hover {
    color: #FFFF80;
    text-decoration: none;
  }
  &:focus {
    background-color: transparent !important;
  }
}

.nav-bar-icons-back {
  padding-left: 9px;
  padding-top: 11px;
  font-size: 24px;
  color: #FFFF80;
  &:hover {
    color: #FFFF80;
    text-decoration: none;
  }
}

header {
  margin-top: 50px;
}

.home-link {
  border: 1px solid;
  border-color: #D4D4D4;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  margin-top: 10px;
  padding: 10px;
  >a {
    color: black;
  }
}

.home-row {
  padding: 5px;
}

.clearlee-button {
  background-color: #333;
  color: #FFFF80;
  &:hover {
    background-color: #333;
    color: #FFFF80;
    text-decoration: none;
  }
  &:focus {
    color: #333;
    background-color: #FFFF80;
    text-decoration: none;
  }
}

.devise-links {
  margin-left: 15px;
}

.fa-google-plus-square, .fa-facebook-square, .fa-twitter-square {
  color: #333;
  font-size: 35px;
  text-decoration: none;
  &:hover {
    color: #333;
    text-decoration: none;
  }
  &:focus {
    color: #FFFF80;
    text-decoration: none;
  }
}

.poll-display {
  margin: 0px;
  margin-top: 4px;
  border-bottom: 1px solid;
  border-color: #D4D4D4;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #333;
    text-decoration: none;
  }
  &:focus {
    color: #333;
    text-decoration: none;
  }
}

.poll-show-question {
  margin: 0px;
  min-height: 50px;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  border-color: #D4D4D4;
}

.poll-show-products {
  margin: 0px;
  margin-top: 4px;
  border-bottom: 1px solid;
  border-color: #D4D4D4;
  >div {
    min-height: 75px;
  }
}

.poll-product-title {
  padding-left: 25px;
}

.poll-user-name {
  color: #A9A9A9;
}

.hidden {
  display: none;
}

.selected-to-vote {
  color: green !important;
  font-weight: bold;
}

.selected-to-POLL {
}

.poll-new-question {
  margin: 0px;
  min-height: 75px;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  border-color: #D4D4D4;
  >textarea {
    margin-top: 2px;
    min-height: 70px;
    width: 100%;
  }
}

.poll-new-products {
  margin: 0px;
  margin-top: 4px;
  border-bottom: 1px solid;
  border-color: #D4D4D4;
  min-height: 60px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#product-code {
  >img {
    margin-top: 10px;
  }
}

.product-title {
  padding-left: 20px;
}