<h1>Listing votes</h1>

<table>
  <thead>
    <tr>
      <th>Poll Id</th>
      <th>User Id</th>
      <th>UPC Code</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.poll_id %></td>
        <td><%= vote.user_id %></td>
        <td><%= vote.upc_code %></td>
        <td><%= link_to 'Show', vote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
