<p id="notice"><%= notice %></p>

<p>
  <strong>UPC code:</strong>
  <%= @vote.upc_code %>
</p>

<p>
  <strong>Poll Id:</strong>
  <%= @vote.poll_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<%= link_to 'Back', votes_path %>
