<footer>
	<span class="proxima-nova-regular">
		<a href="http://www.netbramha.com/" title="netbrahma studios">designed by 
			<%= image_tag 'logo-netbrahma-studios.png', width: "90", height: "32", alt: "netbrahma studios" %>
		</a>
	</span>
</footer>