<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if !user_signed_in? %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Protected Page", inside_path %></li>
          <li><%= link_to "Edit your account", edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
          <% if current_user.admin? %>
          <li><%= link_to "Admin", admin_root_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li><%= link_to "Reviews", new_user_session_path %></li>
    <li><a href="#pros-cons">Pros & Cons</a></li>
    <li><a href="#specs">Specs</a></li>
  </ul>
  <%= form_tag '/search/solr', :method => :get, :class => "navbar-form navbar-left right-inner-addon", :role => "search" do %>
    <div class="form-group">
      <i class="icon-search"></i>
      <%= search_field_tag :term, params[:term], :class => "input-large ui-widget form-control", :placeholder => "Search" %>
    </div>
  <% end %> 
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('input#term').autocomplete({
      minLength: 1,
      source: '<%= solr_search_path(:json) %>',
      mustMatch : false,
      focus: function(event, ui){
        $('input#term').val(ui.item.model_name);
        return false;
      },
      select: function(event, ui){
        $('input#term').val(ui.item.model_name);
        $('.navbar-form').submit(); 
        return false;
      },
    })
    .data("ui-autocomplete")._renderItem = function(ul,item){
                        ul.addClass('search-container');
      return $("<li></li>")
      .data("ui-autocomplete-item",item)
      .append("<a href=/cameras/" + item.id + ">" +"<span class='search-image'><img src='" + 
                   item.default_image_url +"'></span>"  + "<span class='search-model-name'>" + item.model_name  +  "</span></a>" )
      .appendTo(ul);
    };
$('.ui-autocomplete').wrap('<div class="search-wrap" />');
  });
</script>

