<li><%= link_to "Polls", polls_path %></li>

<% if user_signed_in? %>
  <li><%= link_to "Edit Account", edit_user_registration_path %></li>
<% end %>

<% if !user_signed_in? %>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
<% else %>
  <li><%= link_to "Protected Page", inside_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to "Admin", admin_root_path %></li>
  <% end %>
<% end %>
